/*Define Global CSS*/

/*Body*/
body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: black;
    line-height: 1.5;
    margin: 0px;

}

* {
    box-sizing: border-box;
}

/*Define Default Font Size*/
h1 {
    font-size: 40px;
    color: #ffffff;
}

h2 {
    font-size: 32px;
    font-weight: 500;

}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Define Global Helper Styles*/
.center {
    text-align: center;
}

.right {
    justify-content: right;
}

.margin_bottom_five {
    margin-bottom: 5px;
}

.margin_top_zero {
    margin-top: 0;
}

.link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

/*Navigation Styles*/
nav {
    display: flex;
    background-color: #ffffff;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}

.nav_logo {
    width: 5%;
}

.nav_logo img {
    max-width: 100%;
    height: auto;
}

.nav_link_container {
    display: flex;


}

.nav_link {
    padding: 20px;
}

/*Hero Styles*/
.hero_img {
    width: 100%;
    background: url("Images/B&WHeadshotHero2x.jpg");
    background-color: #D7D7D7;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container_copy {
    width: 54%;
    padding: 5%;
}

.hero_container_copy h2 {
    color: #D7D7D7;
}

/*Card Styles*/
.card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 46px;

}

.card_container a:hover {
    text-decoration: none;
}

.card_img {
    max-width: 50%;

}

.card_copy_right {
    padding: 5vw 5vw 5vw 12.5vw;
}

.card_copy_left {
    padding: 5vw 12.5vw 5vw 5vw;
}

.card_copy_mobile {
    display: none;
}

/*Footer Styles*/
footer {
    background-color: #D7D7D7;
    text-align: center;
    padding: 40px;
}

.copyright {
    font-size: 10px;
    margin-top: 30px;
}

/*Media Query*/
@media only screen and (max-width:1030px) {
    nav {
        margin-right: 0;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    .hero_img {
        min-width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/B&WHeadshotHero.jpg");
        background-color: #D7D7D7;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero_container_copy {
        min-width: 100%;
        Padding: 200px 20px 20px 20px;
        text-align: center;
    }

    .card_container {
        width: 100%;
        padding: 20px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 46px;
    }

    .card_img {
        max-width: 100%;
    }

    .card_img img {
        max-width: 100%;
    }

    .card_copy_left {
        display: none;
    }

    .card_copy_right {
        display: none;
    }

    .card_copy_mobile {
        display: block;
        padding: 2vw;
    }
    .nav_logo {
        width: 20%;
    }
     .nav_link_container {
            width: 80%;
        }
}


@media only screen and (max-width: 798px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    .hero_container_copy {
        min-width: 100%;
        Padding: 200px 20px 20px 20px;
        text-align: center;
    }

}